<form class="ui form">
    <div class="field">
      <label>First Name</label>
      <input type="text" name="first-name" placeholder="First Name">
    </div>
    <div class="field">
      <label>Last Name</label>
      <input type="text" name="last-name" placeholder="Last Name">
    </div>
    <div class = "fields">
        <div class="six wide field">
            <label>Roll Number</label>
            <input type="text" name="rollno[number]" maxlength="12" placeholder="Eg:160118733169">
        </div>
        <div class="six wide field">
            <label>Colege Email ID</label>
            <input type = "email" name = "email" placeholder="Eg:abc@xyz.com">
        </div>
        <div class="six wide field">
            <label>Mobile No</label>
            <input type = "text" name = "mobileno" placeholder = "Eg.8181818181">
        </div>
    </div>
    <div class="field">
        <label>Enter Password</label>
        <input type = "password" name = "pswd" placeholder = "Enter Password">
    </div>
    <div class="field">
        <label>Confirm Password</label>
        <input type = "password" name = "pswd" placeholder = "Confirm Password">
    </div>
    <div class="field">
        <div class="ui checkbox">
            <input type="checkbox">
            <label>I agree to the terms and conditions</label>
          </div>
    </div>
    <div class="center aligned field">
        <button class="ui button" type="submit">Submit</button>
    </div>
    
  </form>