<div class="ui centered grid container">
    <div class="nine wide centered column">
        <div class="ui vertical  top fixed large menu content myclass">
            <div class="ui center aligned header">
                <a class="middle aligned content">
                    <i class="user massive icon"></i>
                </a>
                <a class= "content">
                    Faculty
                </a>
            </div>
            <div class="middle aligned content">
                <a class="active item" routerLink = "/student">
                    Home
                </a>
                <a class="item" routerLink = "/account">
                    Account Details
                  </a>
                <a class="item" routerLink = "/calendar">
                    View Calendar
                 </a>
                <a class="item" routerLink = "/reset">
                    Change Password
                </a>
                <a class="item" routerLink = "/login">
                    Logout
                </a>
            </div>
        </div>
    </div>
    <div class="nine wide centered column myclass2" >
        <div class="ui card supercard">
            <div class="ui center aligned header myclass2">
                <a class= "content myclass2">
                    Doubt Details
                </a>
            </div>
            <div class="center aligned content">
                <div class="ui center aligned header">
                    <a class= "content myclass2">
                         Subject 
                    </a>
                </div>
                <div class="row">
                    <div class="ui compact menu">
                          
                    </div>
                </div>
                <div class="ui center aligned header">
                    <a class= "content myclass2">
                         Topic
                    </a>
                </div>
                <div class="row">
                    <div class="ui compact menu">
                    
                    </div>
                </div>
            </div>
                <div class="ui center aligned header">
                    <a class= "content myclass2">
                        Description
                    </a>
                    
                </div>
                <div class="ui center aligned container">
    
                </div> 
                <div class="ui center aligned header">
                    <button class="ui primary button">
                        Conduct Meet 
                      </button>          
                </div>       
        </div>
    </div>
</div>
       


