<div class="nine wide centered column">
    <div class="ui vertical top fixed large menu content myclass">
        <div class="ui center aligned header">
            <a class="middle aligned content">
                <i class="user massive icon"></i>
            </a>
            <a class= "content">
                Student
            </a>
        </div>
        <div class="middle aligned content">
            <a class="item" routerLink = "/student">
                Home
            </a>
            <a class="active item">
                Account Details
              </a>
            <a class="item" routerLink = "/calendar">
                View Calendar
             </a>
            <a class="item" routerLink = "/reset">
                Change Password
            </a>
            <a class="item" routerLink = "/login">
                Logout
            </a>
        </div>
    </div>
</div>
