<div class="page-login">
    <div class="ui centered grid container">
      <div class="nine wide column">
        <div class="center aligned ui">
          <div class="content">
          <div class="header item borderless">
            <h1 class="ui header centered">
                <img class="logo" src="assets/images/vimdos.png">
            </h1>
          </div>
          <form class="ui form">
            <div class="field">
                <div class="center aligned container">
                    <label>OTP</label>
                    <input type="text" name="user" placeholder="Enter OTP sent to your mail" formControlName = "Username">
                </div>
             
            </div>
            <div class="ui center aligned container">
                <button class="ui primary labeled icon button" type = "submit">
                    <i class="envelope icon"></i>
                    Resend OTP
                </button>
            </div>  
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>